.page {
  width: 1280px;
  background-color: black;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }
}
