.profile__gig {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  width: 415px;
  line-height: 21.78px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .profile__gig {
    text-align: center;
    margin-bottom: 36px;
    padding-top: 14px;
    max-width: 282px;
    line-height: 16.94px;
    font-size: 14px;
  }
}
