.header {
  max-width: 880px;
  min-height: 74px;
  padding-top: 45px;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin: 20px auto 40px;
    box-sizing: border-box;
    padding-top: 0;
  }
}
