.profile__info {
  max-width: 415px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 880px) {
  .profile__info {
    max-width: 282px;
    margin: 0;
    display: block;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
