.card__like {
  background-image: url(../../../images/hearticon.svg);
  width: 20.76px;
  height: 18.13px;
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: 310px;
  right: 30px;
  background-repeat: no-repeat;
}

.card__like:hover {
  opacity: 50%;
}
