.card__like {
  background-image: url(../../../images/hearticon.svg);
  width: 20.76px;
  height: 18.17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  padding-top: 8px;
  padding-right: 33px;
}

.card__like:hover {
  opacity: 50%;
}
