@import url("../card/__image/card__image.css");
@import url("../card/__like/card__like.css");
@import url("../card/__title/card__title.css");
@import url("../card/__like/_color/card__like_color_black.css");

.card {
  width: 282px;
  background-color: white;
  position: relative;
  border-radius: 10px;
}
